
.poster {
  width: 100%;
  max-width: 225px;
  max-height: 335px;
}

.title {
  max-width: 200px;
  height: auto;
}

.movie-card {
  width: 100%;
  max-width: 300px;
  max-height: 500px;
}

$theme-colors: (
    "primary": #512DA8
);